{% extends 'training/index.html' %}
{% load static %}
  <!-- Page Header -->
{% block header %}
<header class="masthead" style="background-image: url('{% static 'img/about-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>关于我们</h1>
            <span class="subheading">我们是最清真的学校！</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}


  <!-- Main Content -->
{% block content %}
 <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <p>{{ company.name}}</p>
          <p>{{ company.info }}</p>
      </div>
    </div>
  </div>

  <hr>
{% endblock %}